.tech-stack, 
.career-opportunity {
    background: white;
}

.hero-banner {
    background-image:
    linear-gradient(to top, rgb(255, 255, 255), rgba(14, 42, 71, 0.73)),
    url("assets/img/code-1839406_1920.jpg");
}

footer{
    background-image: url("assets/img/footer-background.png");
    background-size: cover;
}
