/* CLIENTS SECTION */

.our-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.client-picture-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-pic {
    width: 45rem;
    padding: 1.5rem;
}

.white-text {
    color: #fff;
}
