/* BAGIAN HEADER */
.hero-banner {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 10rem;
   padding-bottom: 10rem;
}
.program-img {
    width: 35rem;
}

@font-face {
    font-family: Montserrat;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
}

.about-company {
    padding: 2em;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-company h1, h2 {
    text-shadow: 10px 10px #777474;
}
