@import "background-svg.css";
@import "hero.css";
@import "header.css";
@import "tech-stack.css";
@import "clients.css";
@import "career.css";
@import "footer.css";
@import "indexSection.css";
@import "aboutUs.css";
@import "responsivetablet.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

h3 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-rows: auto;
  }